<!DOCTYPE html>
<html lang="en">
<!-- Daniel Benjovitz -->
<head>
    <meta charset="UTF-8">
    <title>Alle vognmænd</title>
    <link rel="stylesheet" href="myCSS.css">

</head>
<body>
<img th:src="@{images/logo.png}" src="/static/images/logo.png">
<br>

<a href="medarbejder" id="back">Tilbage</a>
<br>
<table>
    <tr>
        <th>id</th>
        <th>fornavn</th>
        <th>efternavn</th>
    </tr>
    <tr th:each="d : ${drivers}">
        <td th:text="${d.driverID}"></td>
        <td th:text="${d.firstName}"></td>
        <td th:text="${d.lastName}"></td>
        <td><a th:href="@{/add-driver(id=${d.getDriverID})}">Tilføj vognmand</a> </td>
        <td><a th:href="@{/update-driver(driverID=${d.getDriverID})}">Opdater</a></td>
    </tr>
</table>
</body>
</html>