<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bilabonnement.dk</title>
    <link rel="stylesheet" href="myCSS.css">

</head>
<body>
<img th:src="@{images/logo.png}" src="/static/images/logo.png">
<br>
<!-- Udsrkiver først oplysninger om kunden, og derefter en liste af de biler i flåden, som ikke er udlejede. Disse er gjort klikbare, så man blot trykker på den bil, som skal lejs ud. -->
<!-- Lasse Dall Mikkelsen -->

<div th:text="${costumer.toString()}">Costumer</div>

<tr th:each="car : ${available_fleet}">
        <td th:text="${car.brand}">Brand</td>
        <td th:text="${car.originalPrice}">Value</td>
        <td th:text="${car.pricePerMonth}">Leasing price</td>
        <td><a th:href="@{'/new-lease/' + ${car.carID}}">Choose</a></td>
    <a href="index">Tilbage</a>
</tr>

</body>
</html>