<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bilabonnement.dk</title>
</head>
<body>

<!-- En form action, som  gør det muligt at indtaste oplysninger om bilen der skal oprettes -->
<!-- Lasse Dall Mikkelsen -->

<form action="/create-car" method="post">
    <label for="brand" th:text="'Brand:' ">Brand: </label>
    <input type="text" id="brand" name="brand">
    <label for="description" th:text="'Description:'">Description:</label>
    <input type="text" id="description" name="description">
    <label for="original_price" th:text="'Original price:'">Original price:</label>
    <input type="text" id="original_price" name="original_price">
    <label for="price_per_month" th:text="'Price pr. month:'">Price pr. month:</label>
    <input type="text" id="price_per_month" name="price_per_month">
    <button  type="submit">Add car to fleet</button>
</form>

</body>
</html>