<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>skader på bil</title>
  <link rel="stylesheet" href="myCSS.css">
</head>
<body>
<div>Total pris for udbedringer <span th:text="${totalPrice}"></span></div>
<table>
  <tr>
    <th>Brand</th>
    <th>Bil info</th>
    <th>Skade ID</th>
    <th>Skadestype</th>
    <th>Pris på skade</th>
  </tr>
  <tr th:each="damage :${damages}">
    <td th:text="${damage.brand}"></td>
    <td th:text="${damage.carDescription}"></td>
    <td th:text="${damage.damageID}"></td>
    <td th:text="${damage.description}"></td>
    <td th:text="${damage.price}"></td>
  </tr>
</table>
</body>
</html>