<!DOCTYPE html>
<html lang="en">
<!-- Daniel Benjovitz -->
<head>
    <meta charset="UTF-8">
    <title>Bilabonnement.dk</title>
    <link rel="stylesheet" href="myCSS.css">

</head>
<body>
<img th:src="@{images/logo.png}" src="/static/images/logo.png">
<br>
<table>
<tr th:each="car : ${fleet}">

    <td th:text="${car.brand}">Brand</td>
    <td th:text="${car.originalPrice}">Value</td>
    <td th:text="${car.pricePerMonth}">Leasing price</td>
    <td><a th:href="@{add-car(id=${car.carID})}">Choose</a></td>
  </div>
</tr>
</table>
<a href="medarbejder" id="back">Tilbage</a>

</body>
</html>