<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bilabonnement.dk</title>
    <link rel="stylesheet" href="myCSS.css">
<style>

</style>

</head>
<body>
<img th:src="@{images/logo.png}" src="/static/images/logo.png">
<br>
<div id="center">
<h1>Velkommen</h1>
<a th:href="@{create-lease}">Opret lejeaftale</a> <br>
<a th:href="@{fleet}">Se alle biler</a> <br>
<a th:href="@{available-cars}">Se alle ledige biler</a> <br>
</div>
<img th:src="@{images/biler.webp}" src="/static/images/biler.webp" id="biler">

</body>
</html>