<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bilabonnement.dk</title>
    <link rel="stylesheet" href="myCSS.css">


</head>
<body>
<img th:src="@{images/logo.png}" src="/static/images/logo.png">
<br>

<div id="center">
<h1>VELKOMMEN</h1>

<a href="create-car">Opret ny bil</a> <br>
<a href="create-lease">Opret lejeaftale</a> <br>
<a href="damageList">Opret skade</a> <br>
<a href="create-driver">Opret vognmand</a> <br>
<a href="fleet">Opret opsamling</a> <br>
<a href="stock">Alle biler</a> <br>
<a href="all-pickups">Se opsamlinger</a> <br>
    <a href="all-drivers">Se vognmænd</a><br>
    <a href="all-damage">Se alle skader</a><br>
    <a href="index">Tilbage</a>

</div>
<img th:src="@{images/hurtig.jpg}" src="/static/images/hurtig.jpg" id="biler">

</body>
</html>