<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bilabonnement.dk</title>
    <link rel="stylesheet" href="myCSS.css">

</head>

<!-- Displayer først ledige biler i flåden og derefter udlejede biler. Man kan ud for hver bil vælge update og delete -->
<!-- Lasse Dall Mikkelsen -->

<body>
<img th:src="@{images/logo.png}" src="/static/images/logo.png">
<br>
<a href="medarbejder" id="back">Tilbage</a>

<h2>Biler på lager: </h2>
<tr th:each="car : ${fleet}">
    <div th:if="${car.available}">
        <td th:text="${car.brand}">Brand</td>
        <br>
        <td th:text="${car.description}">Description</td>
        <br>
        <td th:text="'Oprindelig pris: ' + ${car.originalPrice}">Value</td>
        <br>
        <td th:text="'Pris pr. måned: ' + ${car.pricePerMonth}">Leasing price</td>
        <td><a th:href="@{'/update-car/' + ${car.carID}}">Update car</a></td>
        <td><a th:href="@{'/change-availability/' + ${car.carID}}">Change availability</a></td>
        <td><a th:href="@{'/delete-car/' + ${car.carID}}">Delete car</a></td>
        <br> <br>
    </div>
</tr>
<br> <br>
<h2>Udlejede biler: </h2>
<tr th:each="car : ${fleet}">
    <div th:if="${!car.available}">
        <td th:text="${car.brand}">Brand</td>
        <br>
        <td th:text="${car.description}">Description</td>
        <br>
        <td th:text="'Oprindelig pris: ' + ${car.originalPrice}">Value</td>
        <br>
        <td th:text="'Pris pr. måned: ' + ${car.pricePerMonth}">Leasing price</td>
        <td><a th:href="@{'/update-car/' + ${car.carID}}">Update car</a></td>
        <td><a th:href="@{'/change-availability/' + ${car.carID}}">Change availability</a></td>
        <td><a th:href="@{'/delete-car/' + ${car.carID}}">Delete car</a></td>
        <br> <br>
    </div>
</tr>
<br><br>

<!-- Opret ny bil i flåden -->
<!-- Lasse Dall Mikkelsen -->

<h3><a th:href="@{'/create-car'}">Add new car to fleet</a></h3>
</body>
</html>